<div class='container border rounded login-form mt-7'>
  <div class="px-4 py-3" method="POST">

    <h1 class='text-center'>{{response.name}}</h1>

    <p>{{response.address}}</p>
    <p>{{newFrom}}- {{newTo}}</p>
    <p>{{response.styles}}</p>
    <div class="text-center">
      <button class="btn btn-primary"><a class='white' href='/event/igo/{{response._id}}'>I Go!</a></button>
    </div>
  </div>
</div>