<h1>PROFILE EVENTO</h1>

<img src="" alt="">

<p>{{response.name}}</p>
<a>{{response.address}}</a>
<p><a href="/artist/:id">Artist:{{artistName}}</a></p>
<p>{{newFrom}}- {{newTo}}</p>
<p>{{response.styles}}</p>

<button><a href='/event/igo/{{response._id}}'>I Go!</a></button>