<div class='container border rounded login-form mt-7'>
  <form class="px-4 py-3" action="/userlogin" method="POST">

    <h1 class='text-center'>{{response.name}}</h1>

    <p>{{response.address}}</p>
    <p>{{newFrom}}- {{newTo}}</p>
    <p>{{response.styles}}</p>
    <div class="text-center">
      <button  action='/event/igo/{{response._id}}'class="btn btn-primary">I Go!</button>
    </div>
  </form>
</div>